.Card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  padding: 5px 5px;
  background-color: white;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.Container {
  padding: 2px 16px;
}

.Title {
  font-weight: bold;
}
