@import "src/utils/global";

.DocumentArea {
  justify-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;

  .DocumentPreview {
    //max-height: 500px;
    text-align: center;
    width: 95%;

    .Preview {
      margin-top: 1rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .Download {
    align-self: center;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;

  }
}

