@kbc-lib:registry=https://gitlab-core.supsi.ch/api/v4/projects/490/packages/npm/
//gitlab-core.supsi.ch/api/v4/projects/490/packages/npm/:_authToken=<access_token>

@blockchain-lib:registry=https://gitlab-core.supsi.ch/api/v4/projects/230/packages/npm/
//gitlab-core.supsi.ch/api/v4/projects/230/packages/npm/:_authToken=<access_token>
