.Card {
    max-width: 1200px;
    margin: auto;
    box-shadow: 1px 1px #888;
    border-radius: 10px;
}

.TitleWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// for column grid inside the card page component
.ant-col-14 {
    width: 100%;
    max-width: 100%;
}
