<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="order-document.css">

    <title>Title</title>
</head>
<body>


<div class="row expanded">
    <main>
        <div class="inner-container">
            <section class="row">
                <table class="invoice">
                    <tr class="header">
                        <td>
                            <img src="./generic_company_logo.png" alt="Company Logo"/>
                        </td>
                        <td class="align-right">
                            <h2>Order</h2>
                        </td>
                    </tr>
                    <tr class="intro">
                        <td>
                            <%= Seller.Address.StreetOne %><br>
                            <%= Seller.Address.PostalCode - Seller.Address.City, Seller.Address.CountryCode %><br>
                            <%= Seller.Contact.Phone %><br>
                            <%= Seller.Contact.Email %>
                        </td>
                        <td class="text-right">
                            <span class="num">Order #00302</span><br>
                            October 18, 2017
                        </td>
                    </tr>
                    <tr class="details">
                        <td colspan="2">
                            <table>
                                <thead>
                                <tr>
                                    <th class="desc">Item Description</th>
                                    <th class="id">Item ID</th>
                                    <th class="qty">Quantity</th>
                                    <th class="amt">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="item">
                                    <td class="desc">Name or Description of item</td>
                                    <td class="id num">MH792AM</td>
                                    <td class="qty">1</td>
                                    <td class="amt">$100.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="totals">
                        <td></td>
                        <td>
                            <table>
                                <tr class="subtotal">
                                    <td class="num">Subtotal</td>
                                    <td class="num">$100.00</td>
                                </tr>
                                <tr class="fees">
                                    <td class="num">Shipping & Handling</td>
                                    <td class="num">$0.00</td>
                                </tr>
                                <tr class="tax">
                                    <td class="num">Tax (7%)</td>
                                    <td class="num">$7.00</td>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <td>$107.00</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <section class="additional-info">
                    <div class="row">
                        <div class="column">
                            <h3>Deadlines</h3>
                            <hr>
                            <h4>Documents upload: </h4><span>October 25, 2017</span>
                            <h4>Payment: </h4><span>October 25, 2017</span>
                            <h4>Shipping: </h4><span>October 25, 2017</span>
                            <h4>Delivery: </h4><span>October 25, 2017</span>
                        </div>
                        <div class="column">
                            <h3>Constraints</h3>
                            <hr>
                            <h4>Arbiter: </h4><span>Arbiter 1234</span>
                            <h4>Incoterms: </h4><span>FOB</span>
                            <h4>Shipper: </h4><span>MSC</span>
                            <h4>Shipping Port: </h4><span>Bari</span>
                            <h4>Delivery Port: </h4><span>Genova</span>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </main>
</div>
</body>
</html>
